<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>focus main</title>
    <link th:href="@{/static/style/set1_style.css}" rel="stylesheet">
</head>
<body class="set1">

<div class="set1_content">

    <header class="set1_header">

        <h2 class="set1_header_project_name"><a th:href="@{/focus}">C.M</a></h2>

        <div class="set1_header_menuList">

            <div class="set1_header_menu1">
                <a th:href="@{focus/findCinema}">영화관 좌석 미리보기</a>
            </div>

            <div class="set1_header_menu2" th:if="${session.get('loginMemberId') == null || session.get('loginMemberId') == ''}">
                <a th:href="@{member/signUp}" class="set1_header_menu2_signUp">회원가입</a>
                <a th:href="@{member/login}">로그인</a>
            </div>

            <div class="set1_header_menu2" th:if="${session.get('loginMemberId') != null}">
                <a th:href="@{member/quit}">탈퇴</a>
                <a th:href="@{/member/reserveList?openMovieTF=false}">관람 내역</a>
                <a th:href="@{/member/reserveList?openMovieTF=true}">예매 내역</a>
                <a th:href="@{member/setting}" th:text="${session.get('loginMemberId')}">회원 ID</a>
                <a th:href="@{member/exit}">로그아웃</a>
            </div>
        </div>

    </header>

    <main class="set1_main">

        <hr>

        <form class="contentSet6" th:method="get">

            <div class="contentSet6_menu_reserveList">

                <div class="contentSet6_menu" th:each="movieReserveRoomDTO : ${movieReserveRoomDTOList}">
                    <p class="contentSet6_menu_movieName" th:text="${movieReserveRoomDTO.openMovieTitle}"></p>
                    <p class="contentSet6_menu_cinemaInfo"
                       th:text="|${movieReserveRoomDTO.cinemaAddress} ${movieReserveRoomDTO.cinemaName} ${movieReserveRoomDTO.cinemaRoomName}|"></p>
                    <div class="contentSet6_menu_siteList">
                        <p th:each="movieReserveSite : ${movieReserveSiteList.get(movieReserveRoomDTO.getOpenCinemaRoomId())}"
                           th:text="${movieReserveSite.cinemaRoomSiteName}">A-1 A-2 A-3</p>
                    </div>
                    <a href="" class="contentSet6_menu_reserveRollback">예매 취소</a>
                </div>

            </div>

            <div class="contentSet6_menu_listNum">
                <input type="hidden" name="openMovieTF" th:value="${openMovieTF}" />
                <input type="submit" name="pageNumber"
                       th:if="${movieReserveRoomDTOList.totalPages}"
                       th:each="pageNum : ${#numbers.sequence(0, movieReserveRoomDTOList.totalPages -1)}" th:value="${pageNum + 1}" />

            </div>

        </form>

        <hr>

    </main>


    <footer class="set1_footer">

        <a href="">도움말 | </a>
        <a href="">개발자 프로필</a>

    </footer>

</div>

</body>
</html>