<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setting</title>
    <link th:href="@{../static/style/set2_style.css}" rel="stylesheet">
</head>

<body class="set2">

<form class="set2_content" th:method="post" th:object="${settingMemberForm}" id="set2_content">

    <header class="set2_header">

        <h2 class="set2_header_project_name"><a th:href="@{/focus}">C.M</a></h2>
        <p class="set2_header_pageName">회원 정보 변경</p>

    </header>

    <hr class="set2_hr1">

    <div class="set2_content_menu">
        <label for="memberId" class="memberId">아이디</label>
        <input type="text" th:field="*{memberId}" class="memberId_input" id="memberId" />
    </div>

    <div class="set2_content_menu">
        <label for="memberName" class="memberName">닉네임</label>
        <input type="text" th:field="*{memberName}" class="memberName_input" id="memberName" />
    </div>

    <div class="set2_content_menu">
        <label for="phoneNum" class="memberPhoneNum">전화번호</label>
        <input type="text" th:field="*{phoneNum}" class="memberPhoneNum_input" id="phoneNum" />
    </div>

    <!-- changePw 클릭 시 39~41줄 생성(디폴트 값) 및 그 외 값 제거 -->
    <div class="set2_content_menu PWSet1" id="changePwStatus">
        <input type="button" value="비밀번호 변경" class="change_memberPw_input" id="change_memberPw_input" onclick="changePw()" />
    </div>

    <div class="set2_content_menu2" th:if="${#fields.hasErrors()}">
        <p class="exception" th:text="${#fields.errors().get(0)}">잘못된 입력</p>
    </div>

    <div class="set2_content_menu_submit">
        <input type="submit" value="변경" name="" class="setting_submit"/>
    </div>

    <hr class="set2_hr2">

</form>

<script language="JavaScript">

    function changePw() {

        let set2_content = document.getElementById("set2_content");

        // '비밀번호 변경' 버튼이 있는 div
        let changePwStatus = document.getElementById("changePwStatus");
        let change_memberPw_input = document.getElementById("change_memberPw_input");

        // ver2_1 : 비밀번호 변경 취소, ver2_2 : 비밀번호, ver2_3 : 비밀번호 확인

        let set2_content_menu_ver2_1 = document.createElement("div");
        set2_content_menu_ver2_1.className = 'set2_content_menu PWSet2';
        set2_content_menu_ver2_1.id = 'notChangePwStatus';
        set2_content_menu_ver2_1.innerHTML =
            '<input type="button" value="비밀번호 변경 취소" class="notChange_memberPw_input" id="notChange_memberPw_input" onclick="notChangePw()" />';
        let set2_content_menu_ver2_2 = document.createElement("div");

        set2_content_menu_ver2_2.className = 'set2_content_menu PWSet2';
        set2_content_menu_ver2_2.id = 'set2_content_menu_ver2_2';
        set2_content_menu_ver2_2.innerHTML =
            '<label for="password" class="memberPw">비밀번호</label>' +
            '<input type="password" name="password" class="memberPw_input" id="password" />';
        let set2_content_menu_ver2_3 = document.createElement("div");

        set2_content_menu_ver2_3.className = 'set2_content_menu PWSet2';
        set2_content_menu_ver2_3.id = 'set2_content_menu_ver2_3';
        set2_content_menu_ver2_3.innerHTML =
            '<label for="checkPassword" class="memberPwCheck">비밀번호 확인</label>' +
            '<input type="password" name="checkPassword" class="memberPwCheck_input" id="checkPassword" />';

        set2_content.insertBefore(set2_content_menu_ver2_3, changePwStatus);
        set2_content.insertBefore(set2_content_menu_ver2_2, set2_content_menu_ver2_3);
        set2_content.insertBefore(set2_content_menu_ver2_1, set2_content_menu_ver2_2);

        change_memberPw_input.remove();
        changePwStatus.remove();

    }

    function notChangePw() {

        let set2_content = document.getElementById("set2_content");

        // '비밀번호 변경 취소' 버튼이 있는 div
        let notChangePwStatus = document.getElementById("notChangePwStatus");
        let notChange_memberPw_input = document.getElementById("notChange_memberPw_input");

        // list
        let set2_content_menu_ver2_2 = document.getElementById("set2_content_menu_ver2_2");
        let password = document.getElementById("password");
        let set2_content_menu_ver2_3 = document.getElementById("set2_content_menu_ver2_3");
        let checkPassword = document.getElementById("checkPassword");

        // 비밀번호 변경
        let set2_content_menu_ver1 = document.createElement("div");
        set2_content_menu_ver1.className = 'set2_content_menu PWSet1';
        set2_content_menu_ver1.id = 'changePwStatus';
        set2_content_menu_ver1.innerHTML =
            '<input type="button" value="비밀번호 변경" class="change_memberPw_input" id="change_memberPw_input" onclick="changePw()" />';

        set2_content.insertBefore(set2_content_menu_ver1, notChangePwStatus);

        checkPassword.remove();
        set2_content_menu_ver2_3.remove();
        password.remove();
        set2_content_menu_ver2_2.remove();
        notChange_memberPw_input.remove();
        notChangePwStatus.remove();

    }

</script>

</body>
</html>